img {
	border: 0;
	padding-top: 8px;
	padding-bottom: 8px;
}

#wrap {
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
}

#content {
	background-color: #ffff99;
}
#contentWrapper {
	margin: 2px;
}

.inputWrapper, .inputWrapper * {
	margin: 5px;
}

.highlight {
	background-color: #ffffcc;
}
.highlight img {
	width: 100%;
}

.pager {
	height: 32px;
	margin: 2px 0;
}
#current > span {
	color: black;
	border: medium none transparent;
	background-color: transparent;
}

.platzhalter {
	height: 30px;
}

#zeileAnlageHalle, #zeileAnlageSaal {
	padding-top: 2px;
}

#anlageHalle, #anlageSaal {
	height: 150px;
	min-width: 210px;
}

#iconSolarBuergerAktiv, #iconPhotovoltaik {
	margin-top: 15px;
}

@media (max-width: 767px) {
	#iconSolarBuergerAktiv, #iconPhotovoltaik {
		margin-top: 0px;
	}
}
	
#stand {
	text-align: right;
}

.hidden-cs, .hidden-cs2 {
	display: inherit;
}

@media (max-width: 470px) {
	.hidden-cs {
		display: none !important;
	}
}

